.avatar {
    margin-bottom: 14px;
}

.title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #202020;
}

.rating {
    margin-bottom: 5px;
}

.feedback {
    margin-top: 0;
    margin-bottom: 19px;
    font-size: 14px;
    line-height: 22px;
}

.switch button {
    width: 28px;
    height: 5px;
    border: none;
    background-color: #202020;
    margin: 7px;
    cursor: pointer;
}

.switch button:first-child {
    opacity: 0.4;
}

@media (max-width: 1767px) {
    .feedback {
        margin-bottom: 10px;
    }
}

@media (max-width: 1423px) {
    .avatar {
        display: none;
    }

    .title {
        font-size: 16px;
    }

    .feedback {
        font-size: 15px;
        line-height: 25px;
    }
}

@media (max-width: 1260px) {
    .feedback {
        margin-bottom: 10px;
    }
}

@media (max-width: 1195px) {
    .title {
        font-size: 15px;
    }

    .feedback {
        font-size: 14px;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
}