.icon {
    width: 80px;
    height: 80px;
    background-color: #FFF01E;
    text-align: center;
    line-height: 100px;
    
}

.amount {
    color: grey;
    font-size: 36px;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.title {
    font-size: 15px;
    margin-top: 0;
    letter-spacing: 0.5px;
}