.icon {
    width: 80px;
    height: 80px;
    background-color: #FFF01E;
    text-align: center;
    line-height: 100px;
}

.amount {
    color: grey;
    font-size: 36px;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.title {
    font-size: 15px;
    margin-top: 0;
    letter-spacing: 0.5px;
}

@media (max-width: 1384px) {
    .amount {
        font-size: 28px;
    }
}

@media (max-width: 1195px) {
    .icon {
        width: 50px;
        height: 50px;
        line-height: 80px;
    }

    .amount {
        font-size: 16px;
    }

    .title {
        font-size: 12px;
    }
}