.wrap {
    color: #fff;
}

.title {
    letter-spacing: 3.7px;
    margin-bottom: 3px;
}

.slider {
    background-color: #fff;
    border: none;
    height: 3px;
    width: 38px;
    margin-left: 3px;
    margin-bottom: 63px;
}

.form {
    height: 10px;
    width: 60%;
    background-color: #fff;
}

.button {
    color: #fff;
    border: none;
    padding: 5px;
    background: inherit;
    cursor: pointer;
    font-size: 13px;
    margin-left: 70%;
}

@media (max-width: 1690px) {
    .button {
        margin-left: 60%;
    }
}

@media (max-width: 1323px) {
    .title {
        font-size: 18px;
    }

    .button {
        margin-left: 50%;
    }
}

@media (max-width: 1195px) {
    .title {
        font-size: 17px;
    }

    .slider {
        margin-bottom: 20px;
    }

    .button {
        margin-left: 50%;
    }
}

@media (max-width: 1107px) {
    .title {
        font-size: 15px;
    }

    .button {
        margin-left: 45%;
        font-size: 11px;
    }
}

@media (max-width: 940px) {
    .title {
        font-size: 14px;
    }

    .button {
        margin-left: 40%;
    }
}