.wrap {
    padding: 10px 25px;
}

.title {
    color: #202020;
    margin-bottom: 6px;
    width: 60%;
}

.slider {
    background-color: #202020;
    border: none;
    height: 6px;
    width: 40px;
    cursor: pointer;
}

.article {
    font-size: 16px;
    line-height: 21px;
}